body {
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.card {
  background: #12182b;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

canvas {
  background: #ffffff;
  border-radius: 10px;
}